node_modules/
.env
*.xlsx
*.jpeg
*.jpg
*.png
!logo.png
!image/
!image/*.png
!image/*.jpg
!image/*.jpeg
!image/*.webp
!image/hotel/*.png
!image/hotel/*.jpg
!image/hotel/*.jpeg
!image/hotel/*.webp
!image/traiteur/*.png
!image/traiteur/*.jpg
!image/traiteur/*.jpeg
!image/traiteur/*.webp
